@charset "UTF8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
}

header {
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
